

@font-face {
  font-family: 'GothamMedium';
  src: url('Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Medium.woff') format('woff'),  Modern Browsers 
       url('Gotham-Medium.ttf')  format('truetype'),
       url("fonts/Gotham-Medium.otf") format("opentype"), /* Safari, Android, iOS */
       url('Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}